.Card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid #f89b29;
  margin: 16px;
}

.image {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #0438a1 0%, #b3b0b0 100%);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.image_img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.detail {
  width: 70%;
  padding: 16px;
}
.detail h1 {
  color: #0438a1;
}
.donation {
  width: 1000%;
  padding: 16px;
  border: solid 1px #f89b29;
}
.donation_title {
  color: #0438a1;
}
.donationItem p strong {
  color: #f89b29;
}
.info {
  margin: 8px 0;
}

.donationItem {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .Card {
    flex-direction: column;
  }

  .detail {
    width: 100%;
    padding: 16px 16px 0;
  }

  .donation {
    width: 100%;
    padding: 16px 16px 16px 0;
    border-left: none;
    border-top: 1px solid #ddd;
  }
}
